{% extends 'layout.default.twig' %}

{% block left_sidebar %}
    <li><a href="/gajeweb/admin/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="/gajeweb/admin/image"><i class="fa fa-bar-chart-o"></i> Image</a></li>
    <li><a href="/gajeweb/admin/user"><i class="fa fa-table"></i> User</a></li>
    <li><a href="/gajeweb/admin/theme"><i class="fa fa-edit"></i> Theme</a></li>
    <li><a href="/gajeweb/admin/note"><i class="fa fa-edit"></i> Note</a></li>
    <li class="active"><a href="/gajeweb/admin/downloader"><i class="fa fa-edit"></i> Download</a></li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Old Theme Images Downloadable
                <small>Statistics Overview</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-dashboard"></i> Old Theme Images Downloadable</li>
            </ol>

            {% if error != "" %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ error|raw }}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row">

        <!-- div class="col-lg-3" style="border-right: 1px solid #ccc; display:none;">

            <form role="form" action="/gajeweb/admin/theme" method="post">

                <div class="form-group">
                    <label>Theme name</label>
                    <input type="text" class="form-control" name="theme[name]">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="3" name="theme[description]"></textarea>
                </div>

                <button type="submit" class="btn btn-default">Add</button>
                <button type="reset" class="btn btn-info">Reset</button>

            </form>

        </div -->


    <!-- /.row -->

        <div class="col-lg-9">

            <div class="table-responsive">
                <table class="table table-bordered table-hover tablesorter">
                    <thead>
                    {% for key, header in headerArray %}
                        <th>{{ header }} <i class="fa fa-sort"></i></th>
                    {% endfor %}
                    </thead>
                    <tbody>
                    {% for theme in themeArray %}
                        <tr>
                            {% for key in headerArray | keys %}
                                {% if key == '#' %}
                                    <td>{{ '' }}</td>
                                {% elseif key == "download_link" %}
                                    <td>{{ theme[key] | raw }}</td>
                                {% elseif key == "skip_delete" %}
                                    <td>{{ '' }}</td>
                                {% else %}
                                    <td>{{ theme[key] }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    <ul class="pagination" style="float:right">
        {{ pagination|raw }}
    </ul>
    </div>


{% endblock %}