{% extends 'layout.default.twig' %}

{% block left_sidebar %}
    <li><a href="/gajeweb/admin/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active"><a href="/gajeweb/admin/image"><i class="fa fa-bar-chart-o"></i> Image</a></li>
    <li><a href="/gajeweb/admin/user"><i class="fa fa-table"></i> User</a></li>
    <li><a href="/gajeweb/admin/theme"><i class="fa fa-edit"></i> Theme</a></li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Images
                <small>Statistics Overview</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-dashboard"></i> Images</li>
            </ol>
            <div class="alert alert-success alert-dismissable" style="display: none">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Welcome to SB Admin by <a class="alert-link" href="http://startbootstrap.com">Start Bootstrap</a>!
                Feel free to use this template for your admin needs! We are using a few different plugins to handle
                the dynamic tables and charts, so make sure you check out the necessary documentation links
                provided.
            </div>
        </div>
    </div>
    <!-- /.row -->
    <ul class="pagination" style="float:right">
        {{ pagination|raw }}
    </ul>

    <div class="row">
        <div class="col-lg-12">

            <div class="table-responsive">
                <table class="table table-bordered table-hover tablesorter">
                    <thead>
                    {% for key, header in headerArray %}
                        <th>{{ header }} <i class="fa fa-sort"></i></th>
                    {% endfor %}
                    </thead>
                    <tbody>
                    {% for image in imageArray %}
                        <tr>
                            {% for key in headerArray | keys %}
                                {% if key == '#' %}
                                    <td>{{ image[key]|raw }}</td>
                                {% elseif key == 'thumbnail' %}
                                    <td>{{ image[key]|raw }}</td>
                                {% else %}
                                    <td>{{ image[key] }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <ul class="pagination" style="float:right">
        {{ pagination|raw }}
    </ul>

    <script type="text/javascript">

        function del(id) {
            jQuery.ajax({
                        url: "{{ deleteUrl|raw }}",
                        beforeSend: function (xhr) {

                        }
                    }
            )
                    .done(function (data) {


                    });

        }
    </script>


{% endblock %}